body {background-color: #ffaabc;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
}
#container {
    width: 80vw;
    margin: 0 auto;  
}
.headline {
    width: 70vw;
    margin: 0 auto;  
}
.body-text {
    width: 70vw;
    margin: 0 auto;
    color: #ffe2e9;  
}
img {
    width: 100%;
}
.fist {padding-top: 3px;
        padding-bottom: 10px;
    min-width: 100%; 
}
h1 {text-align: center;
    font-size: 5.5em;
    font-family: 'Sofia', cursive;
    color: #fff6f8;
    margin-bottom: 0;}
h2 {color: #ff547c;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
p {font-size: .9em;
    color: #992c43;
    margin-top: 0;
    line-height: 1.3em;
}
a {color: #ff3866;}
a:hover {color: #ffd8e1}
a:visited {color: #ff329c;}

ul {list-style-type: none;
    margin-left: -40px;
    margin-top: 0;}

.symbol {padding-top: 0vw;
    display: block;
    margin-bottom: 50px;
}
.symbol img {max-width: 60%;
            margin: 0 20%;
}
.imgs {margin-top: 20px;
         display: block;}

.closer {width: 70vw;
        margin: 0 auto;
        margin-top: 50px;
}
.closer h1 {margin-bottom: 0;
            margin-top: 0;
}
h3 {text-align: center;
    margin-top: -10px;
    color: #fff6f8;
}
.fem {margin-top: -4px;
    margin-bottom: 25px;
}
 
@media only screen and (max-width: 1024px) {
    body {
        font-size: 22px;
    }
    #container {
        width: 90vw;
    }
    .headline {
        width: 80vw;
    }
    .body-text {
        width: 70vw;
    }
    h1 {
        font-size: 5em;
    }
    p {
        font-size: .8em;
    }
    .symbol {padding-top: 0vw;
    display: block;
}
    
}
 
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    #container {
        width: 90vw;
    }
    .headline {
        width: 90vw;
    }
    .body-text {
        width: 90vw;
    }
    .closer {width: 90vw;}
    h1 {
        font-size: 4.4em;
    }
    p {
        font-size: .89em;
    }
}