body {background-color: #ff8ca4;
	font-family: 'Montserrat', sans-serif;}

header {font-size: 10vw;
		font-family: 'Sofia', cursive;
		color: #fff6f8;
		margin-left: 100px;}

h2 {color: #ff547c;
	font-size: 3vw;
	margin-left: 100px;}

p {color: #ffe2e9;
   font-size: 2vw;
	margin-left: 100px;
	margin-right: 50px;}

img {float: right;
	padding-left: 10px;
	padding-right: 50px;
	padding-bottom: 10px;}

