body {
	background-color: #efebe7;
	padding: 0;
	margin: 0;
}
#container {
			width: 75vw
			margin: 0 auto;
}
.home_img1 {
			width: 100%;
			padding: 0;
}
.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #688184;
		width: 100vw;
		height: 5vw;
		font-size: 3vw;
		font-family: 'Playfair Display', serif;
}
.navbar li {
			display: inline-block;
}
.navbar li a {
	text-decoration: none;
	padding: 3vw;
}

.describe {
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	font-size: .9em;
}

#intro, #links {
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

#bar {
	background-color: #688184;
	width: 100vw;
	height: 5vw;
}
header {font-size: 10vw;
		font-family: baroque-text-jf, sans-serif;
		font-weight: 400;
		font-style: normal;
		margin-left: 2vw;}
#links {
	margin-bottom: 10vw;
}
a:hover {
	color: #ffffff;
}
a {
	color: #1f231a;
}
#intro {
	margin-top: 5vw;
}
li {
	text-decoration: none;
	list-style-type: none;
}
.sitelinks {
	margin-left: -3vw;
}