body {
	background-color: #efebe7;
	padding: 0;
	margin: 0;
}
.navbarcolor {background-color: #688184;}
.container {
		width: 70vw;
		margin: 0 auto;
		/*background-color: orange;*/
}
.home_img1 {
			width: 100%;
			padding: 0;
}
.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #688184;
		font-size: 2.5vw;
		font-family: 'Playfair Display', serif;
}
a {
	text-decoration: none;
	color: #1f231a;
	padding: 0;
}
a:hover {color: #ffffff;}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
}

h1 {
	font-size: 5vw;
	text-align: center;
}
h2 {
	font-size: 3vw;
	margin-bottom: 0;
}

.navbar li {
			display: inline-block;
}
.navbar li {
	text-decoration: none;
	padding:  1vw 3vw;
}
.navbar li:first-of-type {
	text-decoration: none;
	padding-left: 0;
}

.describe {
	text-align: center;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0;
	font-size: .7em;
}

.intro, #links {
	font-family: 'Playfair Display', serif;
	font-size: 1.7vw;
	margin-top: 5vw;
}

.bar {
	background-color: #688184;
	width: 100vw;
	height: 5vw;
	float: left;
	margin-top: 10vw;
}
header {
	font-size: 8vw;
	font-family: baroque-text-jf, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.aboutimg1, .aboutimg2, .aboutimg3 {
	max-width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.aboutimg2 {
	max-width: 50%;
}
#artimgs {
	box-sizing: border-box;
	display: block;
	height: 100vh;
	width: 75vw;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 5vw;
}
.artimg1, .artimg2, .artimg3, .artimg4, .artimg5, .artimg6, .artimg7, .artimg8, .artimg9, .artimg10 {
	width: 35%;
	height: 35%;
	/*background-color: orange;*/
	float: left;
	border: 5px solid #efebe7;
	 display:flex;
  align-items:center;
  justify-content:center;

}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10 {
	max-width: 100%;
	max-height: 100%;
}
.pageh1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Playfair Display', serif;
}
.pageimg {
	max-width: 70%;
	max-height: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.info {
	font-size: 1.7vw;
	font-family: 'Playfair Display', serif;
}
.pagebar {
	background-color: #688184;
	width: 100vw;
	font-size: 2.5vw;
	font-family: 'Playfair Display', serif;
	margin-top: 10vw;
}
.pagebar li {
	padding: 1vw 0;
}

.active {
    color: white;
}
.sitelinks a:hover {color: #688184;}



@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}
