header {margin-left: 50px;
		font-family: 'Playfair Display', serif;
		color: white;
		font-size: 50px;}

ol {margin: 50px 100px;
	font-family: 'Playfair Display', serif;
	line-height: 30px;
	color: white;
	font-size: 20px;
	}

body {background-color: tomato;}

.img1 {position: absolute;
	top: -200px;
	left: 800px;}

.img2 {position: absolute;
	top: 50px;
	left: 800px;}

.img3 {position: absolute;
	top: -75px;
	left: 800px;}