
body {margin-left: 500px;
	  margin-right: 120px;
	  margin-top: 350px;
	  background-color: #606068;}


h1 {font-family: 'Titillium Web', sans-serif;;
	font-weight: 900;
	font-size: 65px;
	margin-right: 100px;
	margin-bottom: 0;
	line-height: 60px;
	color: #2f2f3d;
	margin-top: 0;
	text-transform: uppercase;}

h2 {font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	font-size: 30px;
	color: #2f2f3d;
	margin-bottom: 0;
	text-transform: uppercase;}

h3 {font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin: 0;
	color: #dedee0;
	margin-bottom: 5px;}

p {font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
	color: #dedee0;}

.title {top: 70px;
	left: 500px;
	position: absolute;
	height: 900px;
	width: 600px;
	background-color: ;}