
body {margin-left: 100px;
	  margin-right: 190px;
	  margin-top: 20px;
	  background-color: #424d4f;}


h1 {font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 55px;
	margin-right: 150px;
	margin-bottom: 0;
	line-height: 50px;
	color: #a4bbbf;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 3px;}

h2 {font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #a4bbbf;
	margin-bottom: 0;}

h3 {font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: 0;
	color: #effcff;}

p {font-size: 17px;
	font-family: 'Lato', sans-serif;
	column-count: 3;
	color: #effcff;}

/*.title {top: 600px;
	left: 200px;
	position: absolute;
	height: 200px;
	width: 900px;
	background-color: ;}/*